<!DOCTYPE html />
<html lang="en">
  <head>
    <title>Server Settings</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="../styles/style.css" rel="stylesheet" />
    <link href="../styles/cryptochoose.css" rel="stylesheet" />
  </head>
  <body>
    <div id="header-container">
      <h1 id="header">Server:</h1>
      <p id="member-count">Members: 0</p>
    </div>

    <div id="reset-container">
      <button id="reset-button">
        <h3 id="reset-header">Reset Leaderboard</h3>
      </button>
    </div>

    <div class="list-header-container"><h2>Coins Tracked</h2></div>
    <div class="coin-container" id="coin-chosen"></div>

    <div class="list-header-container"><h2>Choose coins to track</h2></div>
    <div class="coin-container" id="coin-list"></div>
  </body>

  <script>
    var exports = {};
  </script>
  <script id="card"></script>
</html>
